<template name="appBody">

  <div class="appLayout">
    
    {{> nav}}

    <div class="content" id="content">
        
      <div class="wrapper-welcome">        
        <div class="title-welcome">
          <a class="nav-item js-menu show" href="#">
            <i class="fa fa-align-right"></i>
          </a><a href="/">Hubio</a>
        </div>
        <!-- <div class="description-welcome">Made by a <a href="https://github.com/darul75" target="_blank" class="js-open">githuber</a>.</div>
        
        <div class="description-welcome">
        Expose your contributions.
        </div>

        <div class="description-welcome">
        Share a little bit more about you.
        </div>

        <div class="description-welcome">
        Let us know about you.
        </div> -->

      </div>    
                      
      {{> yield}}
            
    </div>  

  </div>
</template>