<template name="nav">
  <nav class="menu">
    <div class="vertical">                
      <a class="nav-item js-menu" href="/"><span class="">Home</span></a>
      <a class="nav-item js-menu" href="/githuber"><span class="">Profile</span></a>      
      {{> loginButtons}}
    </div>

    <!-- <a class="logo" href="/">Github book</a> -->

    <div class="title-page">
      {{title}}
      <span class="subtext-page">{{subtext}}</span>
    </div>

    <div class="nav-group right">
      {{> Template.contentBlock }}
    </div>
  </nav>
</template>